.just-validate-error-label {
  margin-bottom: 3px;
}

.just-validate-error-field,
.just-validate-success-field {
  background-repeat: no-repeat !important;
  background-position: center right 10px !important;
  background-size: auto 50% !important;
}

.just-validate-error-field {
  border-color: #dc3545;

  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpzdmdqcz0iaHR0cDovL3N2Z2pzLmNvbS9zdmdqcyIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI4Ni4wNTQgMjg2LjA1NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+CjxnPgoJPHBhdGggc3R5bGU9IiIgZD0iTTE0My4wMjcsMEM2NC4wNCwwLDAsNjQuMDQsMCwxNDMuMDI3YzAsNzguOTk2LDY0LjA0LDE0My4wMjcsMTQzLjAyNywxNDMuMDI3ICAgYzc4Ljk5NiwwLDE0My4wMjctNjQuMDIyLDE0My4wMjctMTQzLjAyN0MyODYuMDU0LDY0LjA0LDIyMi4wMjIsMCwxNDMuMDI3LDB6IE0xNDMuMDI3LDI1OS4yMzYgICBjLTY0LjE4MywwLTExNi4yMDktNTIuMDI2LTExNi4yMDktMTE2LjIwOVM3OC44NDQsMjYuODE4LDE0My4wMjcsMjYuODE4czExNi4yMDksNTIuMDI2LDExNi4yMDksMTE2LjIwOSAgIFMyMDcuMjEsMjU5LjIzNiwxNDMuMDI3LDI1OS4yMzZ6IE0xNDMuMDM2LDYyLjcyNmMtMTAuMjQ0LDAtMTcuOTk1LDUuMzQ2LTE3Ljk5NSwxMy45ODF2NzkuMjAxYzAsOC42NDQsNy43NSwxMy45NzIsMTcuOTk1LDEzLjk3MiAgIGM5Ljk5NCwwLDE3Ljk5NS01LjU1MSwxNy45OTUtMTMuOTcyVjc2LjcwN0MxNjEuMDMsNjguMjc3LDE1My4wMyw2Mi43MjYsMTQzLjAzNiw2Mi43MjZ6IE0xNDMuMDM2LDE4Ny43MjMgICBjLTkuODQyLDAtMTcuODUyLDguMDEtMTcuODUyLDE3Ljg2YzAsOS44MzMsOC4wMSwxNy44NDMsMTcuODUyLDE3Ljg0M3MxNy44NDMtOC4wMSwxNy44NDMtMTcuODQzICAgQzE2MC44NzgsMTk1LjczMiwxNTIuODc4LDE4Ny43MjMsMTQzLjAzNiwxODcuNzIzeiIgZmlsbD0iI2UyNTc0YyIgZGF0YS1vcmlnaW5hbD0iI2UyNTc0YyIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjwvZz48L3N2Zz4=") !important;
}

.just-validate-error-field:focus {
  border-color: #dc3545;
  box-shadow: inset 0 0 0 0.2em rgb(220 53 69 / 50%) !important;
  outline: none;
}

.just-validate-success-field {
  border-color: #198754;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpzdmdqcz0iaHR0cDovL3N2Z2pzLmNvbS9zdmdqcyIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI4Ni4wNTQgMjg2LjA1NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+CjxnPgoJPHBhdGggc3R5bGU9IiIgZD0iTTE0My4wMzEsMEM2NC4wMjcsMCwwLjAwNCw2NC4wNCwwLjAwNCwxNDMuMDI3YzAsNzguOTk2LDY0LjAzMSwxNDMuMDI3LDE0My4wMjcsMTQzLjAyNyAgIGM3OC45ODcsMCwxNDMuMDE4LTY0LjAzMSwxNDMuMDE4LTE0My4wMjdDMjg2LjA0OSw2NC4wNDksMjIyLjAxOCwwLDE0My4wMzEsMHogTTE0My4wMzEsMjU5LjIzNiAgIGMtNjQuMTgzLDAtMTE2LjIwOS01Mi4wMjYtMTE2LjIwOS0xMTYuMjA5Uzc4Ljg1NywyNi44MTgsMTQzLjAzMSwyNi44MThzMTE2LjIsNTIuMDI2LDExNi4yLDExNi4yMDkgICBTMjA3LjIwNiwyNTkuMjM2LDE0My4wMzEsMjU5LjIzNnogTTE5OS4yNDEsODIuMTg3Yy02LjA3OS0zLjYyOS0xMy44NDctMS40NzUtMTcuMzQyLDQuODI3bC00Ny45NTksODYuMTQ3bC0yNi43MS0zMi41MTIgICBjLTQuODM2LTUuNTY5LTExLjI2My04LjQ1Ni0xNy4zMzMtNC44MjdjLTYuMDc5LDMuNjM4LTguNTkxLDEyLjM5LTQuNjU3LDE4LjAwNGwzNy4xNjksNDUuMjQxYzIuNzgsMy42MTEsNS45NTMsNS43NzUsOS4yNyw2LjM5MiAgIGwwLjAyNywwLjA1NGwwLjM0LDAuMDE4YzAuNzUxLDAuMTE2LDExLjk3OSwyLjE5LDE2LjgxNS02LjQ2M2w1NS4wNDgtOTguODc2QzIwNy40MDIsOTMuODc5LDIwNS4zMiw4NS44MjUsMTk5LjI0MSw4Mi4xODd6IiBmaWxsPSIjM2RiMzllIiBkYXRhLW9yaWdpbmFsPSIjM2RiMzllIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9nPjwvc3ZnPg==") !important;
}

.just-validate-success-field:focus {
  border-color: #198754;
  box-shadow: inset 0 0 0 0.2em rgb(25 135 84 / 50%) !important;
  outline: none;
}

/* iti fixes */

.iti {
  /* --iti-path-flags-1x: url('./img/flags.webp');
  --iti-path-flags-2x: url('./img/flags@2x.webp');
  --iti-path-globe-1x: url('./img/globe.webp');
  --iti-path-globe-2x: url('./img/globe@2x.webp'); */

  width: 100%;
}

.iti__selected-dial-code {
  font-size: 16px;
  line-height: 1;
}

.iti__arrow {
  border: none;
}

.iti__country-container {
  background-color: rgba(0, 0, 0, 0.05) !important;
}